extends ../layout

block content
	h1 Welcome #{user.firstName}. Check your details below:
	br
	ul.user-details
		li Username ---> #{user.username}
		li Email    ---> #{user.email}
		li First Name ---> #{user.firstName}
		li Last Name ---> #{user.lastName}
	br
	a(href='/users/signout', class='') Sign Out
